/* Page1 Html */
body{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    background-color: #000000;
}

body.homepage{
    background-image: url('Images/abdullahi_img.png');
    background-size: contain;
    background-position: 75% center;
    background-repeat: no-repeat;
}

body h1{
    justify-content: flex-start;
    color: #dc6464;
    font-size: 4em;
    font-family: Consolas;
}
.head button{
    position: relative;
    background-color: #777780;
    padding: 2vh 3vh;
    border-radius: 9px;
    left: 200px;
    cursor: pointer;
    transition: ease-in 0.25s;
}
button:hover{
    transform: scale(1.05);
    background-color: #28284a;
    border-radius: 10px;
}

/* Page2 Html */



/* JavaScrip code */

#countLabel{
    display: block;
    border-style: dashed;
    text-align: center;
    font-size: 3em;
    font-family: "Helvetica";
    margin: 0 auto;
    padding: 10px;
    width: fit-content;
}
#btnContainer{
    text-align: center;
}

.buttons{
    padding: 5px 5px;
    font-size: 1.2em;
    color: white;
    background-color: hsl(0, 0%, 0%);
    border-radius: 5px;
    border-color: #f6b1b1;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: hsl(0, 1%, 21%);
}

#countLabel2{
    display: block;
    border-style: dashed;
    text-align: center;
    font-size: 3em;
    font-family: "Helvetica";
    margin: 0 auto;
    padding: 10px;
    width: fit-content;
}
#btnContainer2{
    text-align: center;
}

.buttons2{
    padding: 10px 15px;
    font-size: 1.2em;
    color: white;
    background-color: hsl(0, 0%, 0%);
    border-radius: 5px;
    border-color: #f6b1b1;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons2:hover{
    background-color: hsl(0, 1%, 21%);
}