
#countLabel{
    display: block;
    text-align: center;
    font-size: 7em;
    font-family: "Helvetica";
}
#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 15px;
    font-size: 1.2em;
    color: white;
    background-color: hsl(214, 94%, 70%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: hsl(214, 100%, 59%);
}